<div class="container">
  <div class="row">
    <div class="col-xs-3">
      <h2>User info</h2>
      <img src="/assets/no_img.jpg" alt="no img">
      <table>
        <tr>
          <th>name</th>
          <td></td>
        </tr>
        <tr>
          <th>introduction</th>
          <td></td>
        </tr>
      </table>
      <%= link_to "", edit_user_path ,class="btn btn-default glyphicon glyphicon-wrench", %>
    </div>
    <div class="col-xs-9"></div>
  </div>
</div>
