/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

* {
  box-sizing: border-box;
}

.logo {
  font-size: 1.5em;
  color: white;
}

.header-link {
  color: #9d9d9d;
  text-decoration: none;
}

.header-link:hover {
  color: white;
  text-decoration: none;
}

.home::after {
  content: "Home";
  padding-left: 1em;
}

.about::after {
  content: "About";
  padding-left: 1em;
}

.sign_up::after {
  content: "sign up";
  padding-left: 1em;
}

.sign_in::after {
  content: "login";
  padding-left: 1em;
}

.users::after {
  content: "Users";
  padding-left: 1em;
}

.books::after {
  content: "Books";
  padding-left: 1em;
}

.logout::after {
  content: "logout";
  padding-left: 1em;
}

.header-blocks {
  padding-top: 1em;
}

.header-block {
  display: inline-block;
  padding: 0 1em;
}

.glyphicon-book::after {
  content: "Bookers";
  font-weight: bold;
}

.home_btn {
  height: 3em;
  line-height: 3em;
  font-size: 1em;
  color: #666;
}

.home_btn:hover {
  color: white;
}

.field {
  margin-bottom: 1em;
}

.up {
  margin-bottom: 1em;
}
