<header>
  <nav class="navbar navbar-inverse">
    <div class="container">
      <div class="nav navbar-nav navbar-left">
        <p class="logo">Bookers</p>
      </div>
      <div class="nav navbar-nav navbar-right header-blocks">
        <p class="header-block">
          <%= link_to " Home", root_path, class: "glyphicon glyphicon-home home header-link" %>
        </p>
        <p class="header-block">
          <%= link_to " About", home_about_path, class: "glyphicon glyphicon-link about header-link" %>
        </p>
        <p class="header-block">
          <%= link_to " sign_up", new_user_registration_path, class: "glyphicon glyphicon-edit sign_up header-link" %>
        </p>
        <p class="header-block">
          <%= link_to " login", new_user_session_path, class: "glyphicon glyphicon-log-in sign_in header-link" %>
        </p>
      </div>
    </div>
  </nav>
</header>
